/* 
Utilidade: palheta de cores
https://coolors.co/ee6055-60d394-aaf683-ffd97d-ff9b85 */

@font-face {
    font-family:"DS-DIGII";
    src: url("DS-DIGII.TTF") format("truetype");
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0px;


}
body {
    background: linear-gradient(to right, #B84DFF, #7209B7);

}

.container-calculator {
    display: flex;
    justify-content: space-around;
    padding-top: 0.6rem;
    border-radius: 5px;
    background-color: lightgrey;
    width: 25rem;
    margin-top: 100px;
    height: 35rem;
    flex-wrap: wrap;
    border: 2px solid black;
}

.overview {
    display: flex;
    justify-content: space-around;
}

.visor {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    background-color: rgb(212, 201, 201);
    margin: 0.8rem;
    width: 25rem;
    height: 4rem;
    border-radius: 10px;
    border: 2px solid black ;
    font-family: DS-DIGII;
    padding: 10px;

}

.visor-upper {
    display: flex;
    font-size: 1.5rem;
    align-items: flex-end;

}
.visor-lower {
    color: #dd1f11;
    font-size: 2.5rem;
}

.Numbers {
    display: flex;
    flex-wrap: wrap;
}

.Numbers tr > td > button > .operators {
    background-color: #52B788;
    color: #52B788;
}

.Numbers tr > td > button {
    width: 5rem;
    height: 5rem;
    background-color: rgb(202, 43, 181);
    cursor: pointer;
    border-radius: 22px;
    color: white;
    cursor: pointer;
    border: 1px solid #111;
    outline: none;
}





/* .button-number:hover {
    background-color: black;
    



} */
