/* 
Utilidade: palheta de cores
https://coolors.co/ee6055-60d394-aaf683-ffd97d-ff9b85 */
*{
margin:0;
padding: 0px;


}
body {
    background-color: #60D394;
}

.container-calculator {
    display: flex;
    justify-content: space-around;
    padding-top: 0.6rem;
    border-radius: 5px;
    background-color: #FFD97D;
    width: 25rem;
    margin-top: 100px;
    height: 35rem;
    flex-wrap: wrap;
    border: 2px solid black;
}

.overview {
    display: flex;
    justify-content: space-around;
}

.visor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(212, 201, 201);
    margin: 0.8rem;
    width: 25rem;
    height: 4rem;
    border-radius: 10px;
    border: 2px solid black ;
}

.visor-upper {
    display: flex;
    padding-right: 0.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    align-items: flex-end;

}
.visor-lower {
    color: #dd1f11;
    height: 2rem;
    font-size: 19px;
    
} 

.Numbers {
    display: flex;
    flex-wrap: wrap;





}
.button-number {
    width: 5rem;
    height: 5rem;
    background-color: rgb(202, 43, 181);
    cursor: pointer;
    border-radius: 22px;
    color: white;




}
.button-number:hover {
    background-color: black;
    



}
